## Assignment - 1 Pattern Programming

Write code in python to print the following patterns :-

**Q1)** *Inverted pyramid pattern with same digit*
    
    5 5 5 5 5
    5 5 5 5
    5 5 5
    5 5
    5

In [1]:
def pattern_1(n):
    for i in range(n, 0, -1):
        for j in range(0, i):
            print("5 ",end="")
        print("\r")
pattern_1(5)

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

**Q2)**  *Inverted half pyramid pattern with number sequence*

    0 1 2 3 4 5
    0 1 2 3 4 
    0 1 2 3
    0 1 2
    0 1

In [2]:
def pattern_2(n):
    for i in range(n, 0, -1):
        for j in range(0, i+1):
            print(j,end=" ")
        print("\r")
pattern_2(5)

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

**Q3)**  *Alternate numbers pattern using while loop*

    1
    3 3 
    5 5 5
    7 7 7 7
    9 9 9 9 9

In [3]:
def pattern_3(n):
    for i in range(1, n+1):
        for j in range(i):
            print((i*2)-1,end=" ")
        print("\r")
pattern_3(5)

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

**Q4)**  *Reverse Pyramid of Numbers*

    1
    2 1
    3 2 1
    4 3 2 1
    5 4 3 2 1

In [4]:
def pattern_4(n):
    for i in range(1, n+1):
        for j in range(i, 0, -1):
            print(j,end=" ")
        print("\r")
pattern_4(5)

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

**Q5)**  *Print reverse number from 10 to 1*

    1
    3 2
    6 5 4
    10 9 8 7

In [5]:
start = 1
stop = 2
current_num = stop
for row in range(2, 6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3 2
6 5 4
10 9 8 7

**Q6)** *Pascalâ€™s triangle pattern using numbers*

    1 
    1 1 
    1 2 1 
    1 3 3 1 
    1 4 6 4 1 
    1 5 10 10 5 1 
    1 6 15 20 15 6 1

In [6]:
def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

rows = int(input("Enter the number of rows "))
print_pascal_triangle(rows)

Enter the number of rows 7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

**Q7)** *Square pattern with numbers*

    1 2 3 4 5
    2 2 3 4 5 
    3 3 3 4 5 
    4 4 4 4 5 
    5 5 5 5 5

In [7]:
rows = int(input("Enter the number of rows "))
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

Enter the number of rows 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

**Q8)** *Multiplication table pattern*

    1 
    2 4 
    3 6 9 
    4 8 12 16 
    5 10 15 20 25 
    6 12 18 24 30 36 
    7 14 21 28 35 42 49 
    8 16 24 32 40 48 56 64

In [8]:
rows = int(input("Enter the number of rows "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        square = i * j
        print(i * j, end='  ')
    print()

Enter the number of rows 8
1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

**Q9)** *Downward full Pyramid Pattern of star*

    * * * * * * 
     * * * * * 
      * * * * 
     ` * * * 
        * * 
         *

In [10]:
rows = int(input("Enter the (n-1) to print n rows "))
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

Enter the number of rows 5
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

**Q10)** *Equilateral triangle pattern of star*

            * 
           * * 
          * * * 
         * * * * 
        * * * * * 
       * * * * * *
      * * * * * * *

In [12]:
size = int(input("Enter the size of the equilateral triangle "))
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

Enter the size of the equilateral triangle 7
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

**Q11)** *Print two pyramids of stars*

    * 
    * * 
    * * * 
    * * * * 
    * * * * * 
    * * * * * * 
    
    * * * * * * 
    * * * * * 
    * * * * 
    * * * 
    * * 
    *

In [13]:
rows = int(input("Enter the max rows which you want to mirror: "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

Enter the max rows which you want to mirror: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

**Q12)** *Right start pattern of star*

    * 
    * * 
    * * * 
    * * * * 
    * * * * * 
    * * * * 
    * * * 
    * * 
    *

In [14]:
rows = int(input("Enter the max rows which you want to mirror: "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

Enter the max rows which you want to mirror: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

**Q13)** *Left triangle pascalâ€™s pattern*

            * 
          * * 
        * * * 
      * * * * 
    * * * * * 
      * * * * 
        * * * 
          * * 
            *

In [15]:
rows = int(input("Enter the max rows which you want to mirror: "))
i = 1
while i <= rows:
    j = i
    while j < rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

Enter the max rows which you want to mirror: 5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

**Q14)** *Sandglass pattern of star*

    * * * * * 
     * * * * 
      * * * 
       * * 
        * 
        * 
       * * 
      * * * 
     * * * * 
    * * * * *

In [16]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

**Q15)** *Pant style pattern of stars*

    ****************
    *******__*******
    ******____******
    *****______*****
    ****________****
    ***__________***
    **____________**
    *______________*

In [17]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*

`**References:** 
1. https://www.geeksforgeeks.org/programs-printing-pyramid-patterns-python/
2. https://www.javatpoint.com/how-to-print-pattern-in-python
3. https://www.programiz.com/python-programming/examples/pyramid-patterns
4. https://pynative.com/print-pattern-python-examples/